{% extends "_layout.html" %} {% block title %}Edit Profile{% endblock %} {%
block header %} {% endblock %} {% block content %}
<div class="container">
  <h3>Edit Profile</h3>
  <div class="row">
    <!-- User profile picture -->
    <div class="col-3">
      <div class="container">
        <div class="row mt-3 justify-content-center">
          <img
            src="{{ current_user.profile_image_url }}"
            alt="profile picture"
            class="img-fluid"
            style="width: 300px; height: 300px; object-fit: cover;"
          />
        </div>
        <div class="row mt-3 justify-content-center">
          <a
            href="{{ url_for('users.newimage', id=current_user.get_id()) }}"
            class="btn btn-primary"
            >Change profile picture</a
          >
        </div>
      </div>
    </div>

    <!-- User profile details -->
    <div class="col-9">
      <form
        action="{{ url_for('users.update', id=current_user.get_id()) }}"
        method="POST"
      >
        <!-- CSRF Protection -->
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        <!-- Username -->
        <div class="form-group">
          <label for="username-input">Username</label>
          <input
            type="text"
            class="form-control"
            id="username-input"
            name="username"
            placeholder="Enter username"
            value="{{ username }}"
            required
          />
        </div>

        <!-- Email -->
        <div class="form-group">
          <label for="email-input">Email</label>
          <input
            type="email"
            class="form-control"
            id="email-input"
            name="email"
            placeholder="Enter email"
            value="{{ email }}"
            required
          />
        </div>

        <!-- Password -->
        <div class="form-group">
          <label for="password-input">Password</label>
          <input
            type="password"
            class="form-control"
            id="password-input"
            name="password"
            placeholder="Enter new password"
            required
          />
          <small>Fill your password to confirm the changes</small>
        </div>

        <!-- Private -->
        <div class="form-group form-check">
          {% if private %}
          <input
            type="checkbox"
            class="form-check-input"
            name="private"
            id="privateCheck"
            checked
          />
          {% else %}
          <input
            type="checkbox"
            class="form-check-input"
            name="private"
            id="privateCheck"
          />
          {% endif %}
          <label class="form-check-label" for="privateCheck">Set private</label>
        </div>

        <!-- Update -->
        <button type="submit" class="btn btn-outline-primary">Update</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
