{% extends "_layout.html" %} {% block title %}Sign up{% endblock %} {% block
header %} {% endblock %} {% block content %}
<div class="container">
  <h3>Sign Up</h3>
  <form action="{{ url_for('users.create') }}" method="POST">
    <!-- CSRF Protection -->
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

    <!-- Username -->
    <div class="form-group">
      <label for="username-input">Username</label>
      <input
        type="text"
        class="form-control"
        id="username-input"
        name="username"
        placeholder="Enter username"
        value="{{ username }}"
        required
      />
    </div>

    <!-- Email -->
    <div class="form-group">
      <label for="email-input">Email</label>
      <input
        type="email"
        class="form-control"
        id="email-input"
        name="email"
        placeholder="Enter email"
        value="{{ email }}"
        required
      />
    </div>

    <!-- Password -->
    <div class="form-group">
      <label for="password-input">Password</label>
      <input
        type="password"
        class="form-control"
        id="password-input"
        name="password"
        placeholder="Enter password"
        required
      />
    </div>

    <!-- Sign Up -->
    <button type="submit" class="btn btn-outline-primary">Sign up</button>
  </form>
</div>

{% endblock %}
