{% extends "_layout.html" %} {% block title %}{{current_user.username}}
following{% endblock %} {% block header %} {% endblock %} {% block content %}
<div class="container-fluid m-3">
  <div class="row"><h4>Following ({{approve_idols|length}})</h4></div>
  {% for idol in approve_idols %}
  <div class="row my-4">
    <div class="col-3">
      <div class="container">
        <div class="row">
          <div class="col-4 d-flex justify-content-around align-items-center">
            <form
              action="{{ url_for('relationship.unfollow', idol_id=idol.id) }}"
              method="POST"
            >
              <input
                type="hidden"
                name="csrf_token"
                value="{{ csrf_token() }}"
              />
              <button type="submit" class="btn btn-outline-primary">
                Unfollow
              </button>
            </form>
          </div>
          <div class="col d-flex justify-content-start align-items-center">
            <img
              src="{{ idol.profile_image_url }}"
              alt="profile picture"
              class="img-fluid rounded-circle"
              style="width: 50px; height: 50px; object-fit: cover;"
            />
            <a
              class="nav-link ml-2"
              href="{{ url_for('users.show', id_or_username=idol.id) }}"
            >
              {{idol.username}}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <hr />
  <div class="row"><h4>Pending Requests ({{pending_idols|length}})</h4></div>
  {% for idol in pending_idols %}
  <div class="row my-4">
    <div class="col-3">
      <div class="container">
        <div class="row">
          <div class="col-4 d-flex justify-content-around align-items-center">
            <form
              action="{{ url_for('relationship.unfollow', idol_id=idol.id) }}"
              method="POST"
            >
              <input
                type="hidden"
                name="csrf_token"
                value="{{ csrf_token() }}"
              />
              <button type="submit" class="btn btn-outline-primary">
                Unfollow
              </button>
            </form>
          </div>
          <div class="col d-flex justify-content-start align-items-center">
            <img
              src="{{ idol.profile_image_url }}"
              alt="profile picture"
              class="img-fluid rounded-circle"
              style="width: 50px; height: 50px; object-fit: cover;"
            />
            <a
              class="nav-link ml-2"
              href="{{ url_for('users.show', id_or_username=idol.id) }}"
            >
              {{idol.username}}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
